emissary:
    providers:
        mailgun:
            enabled: 0.7
            key: key-REPLACE-WITH-YOUR-KEY
            endpoint: https://api.mailgun.net/v3/REPLACE-WITH-YOUR-DOMAIN/messages
            class: emissary.mailgun.Mailgun
        mandrill:
            enabled: 0.3
            key: REPLACE-WITH-YOUR-KEY
            endpoint: https://mandrillapp.com/api/1.0/messages/send.json
            class: emissary.mandrill.Mandrill
